*{
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: rgb(127, 112, 112);
    color: white;
    position: relative;
}
.container-fluid{
    display: flex;
    
}
ul{
    display: flex;
    margin-left: 75%;
    list-style: none;
    margin-top: -40px;
}
img{
    margin-top:2px;
    height: 5rem;
    width: 5rem;
}
p{
    margin-left: 10px;
    font-size: 12px;
    margin-top: -20px;
}
.first{
    display: flex;
}
.para{
    margin-top: 10px;
    font-size: 1.5rem;
}
.photo{
    margin-top: 10px;
    height: 19rem;
    width: 25rem;
}
.grid{
    background-image: linear-gradient(to right, red , yellow);
    height: 10rem;
    width: 81rem;
}
.rk{
    color: white;
    position: absolute;
    margin-top: 5%;
    font-size: 5rem;
    margin-left: 12%;
}
.com{
    height: 12rem;
    width: 12rem;
    margin-left: 50%;
}
.ft{
    background-image: linear-gradient(to right, rgb(240, 190, 120) , yellow);
    height: 10rem;
    width: 81rem;
}